# Node.js dependencies
**/node_modules/

# Environment variables
**/.env

# Logs
**/logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Others (optional)
.env.local
.env.development
.env.production
